body {
    margin:0;
    font-family: 'Inter', sans-serif;
}
p {
    font-size:18px;
}
/* Section 1 css part*/
.section1 {
    display: flex;
    height: 670px;
    color: white;
}
.background-img {
    background-image: url(images/donation5.jpg);
    background-size: cover;
}
.sec1-div1 {
    display: flex;
    background: linear-gradient(#121212,#12121200 10%,#12121200 0%,#121212);
}
.sec1-div2 {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
}
.sec1-head1Font {
    font-size:65px;
    font-weight:700
}
.sec1-head2Font {
    font-size: 30px;
    font-weight: 700
}
.color-text {
    color: rgb(210, 219, 78);
}
.sec1-div2 p{
    padding-bottom: 50px;
}
.donate-btn {
    text-decoration: none;
    color: white;
    padding: 12px 16px;
    background-color: rgb(168, 177, 42);
    border-radius: 5px;
    margin: 10px;
    font-weight: 500;
    font-size: 20px;
}

/* Section 2 css part*/
.sec2-font-color{
    color: #707070;
}
.sec2-div1 {
    text-align: center;
}
.sec2-div1 h1 {
    font-size: 45px;
}
.qoute {

    margin: 0;
}
.saw {
    font-style:italic;
}


/* footer part */
footer {
    background-color:black;
    color: white;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}
footer h1 {
    font-family: 'Lobster', cursive;
    font-size:36px;
    margin:0;
}
footer p {
    margin: 0;
    font-size: 14px;
    padding-top: 24px;
    color: #D9DBE1;
}
